<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
   <bean id="bankTransfer" class="com.CodeWithSuraj.PayMeNow.Logic.BankTransferPaymentService"></bean>
    <bean id="creditCard" class="com.CodeWithSuraj.PayMeNow.Logic.CreditCardPaymentService"></bean>
    <bean id="payPal" class="com.CodeWithSuraj.PayMeNow.Logic.PayPalPaymentService"></bean>
</beans>